.not-found-container {
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 70vh
}
.dark-not-found-container{
    background-color: hsl(207, 26%, 17%);
}

.not-found-img {
    width: 400px;
    border-radius:15px
}

.not-found-heading {
    font-family: "Roboto";
    font-weight: 500;
    line-height: 56px;
    color: #6d396b
}
.dark-not-found-heading{
    color: white;
}