.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 15px;
    padding-left: 2%;
    padding-right: 2%;
    margin-bottom: 1%;
}

.header-heading {
    font-size: 27px;
    font-family: Poppins;
    font-weight: 600;
}

.header-mode-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    height: 42px; 
     width: 180px;
}

.icon {
    height: 35px;
    width: 35px;
    margin-right: 15px;
    cursor: pointer;
}

.mode-description {
    font-family: Poppins;
    font-size: 22px;
    margin-left: 10px;
    cursor: pointer;
}

.dark-container {
    background-color: hsl(209, 23%, 22%);
    box-shadow: 2px 2px 2px 2px;
}

.dark-heading {
    color: white;
}

.dark-mode-description {
    color: white;
}

@media screen and (max-width: 824px) {
    .header-heading{
        font-size: 24px;
    }
    .mode-description{
        font-size: 16px;
    }
}