.countries-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8%;
    height: 82vh;
    margin-top: 1%;
}

.no-data-found {
    font-family: Poppins;
    font-size: 40px;
    font-weight: 500;
    color: rgb(36, 35, 35);
    margin-top: 50%;
}
.dark-no-data-found {
    color: white;
}