.contry-details-container {
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.back-button {
    color: black;
    border-radius: 15px;
    height: 38px;
    width: 110px;
    font-family: Poppins;
    cursor: pointer;
    margin-bottom: 6%;
    margin-right: 1%;
    font-size: 22px;
    /* padding: 5px; */
}
.dark-back-button {
    color: white;
    background-color: hsl(209, 23%, 22%);
}

.arrow {
    margin-bottom: 5px;
    height: 20px;
    width: 25px;
}

.country-content-container {
    display: flex;
    flex-direction: row;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 1.5rem;
    
}

.country-image {
    width: 48%;
    border-radius: 1.5rem;
}

.details-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
    padding: 5%;
}

.details-all-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2%;
    width: 100%;
    height: 100%;
    margin-left: 0%;
}

.border-countries-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins;
    margin-left: 0%;
}

.country-main-heading {
    font-size: 36px;
    font-family: Poppins;
    font-weight: 600;
    margin-left: 18%;
}
.dark-country-main-heading {
    color: white;
}
.country-button{
    margin-left: 2%;
    margin-top: 0%;
    height: 28px;
    width: 100px;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    border: 0px;
    border-radius: 6px;
    background-color: rgb(238, 238, 238);
}

.dark-country-button {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.tag {
    font-family: 'Sans-serif';
    font-size: 16px;
    font-weight: 600;
}
.tag-name {
    font-size: 15px;
    font-weight: 400;
}
.loader {
    margin-top: 20%;
    text-align: center;
}
.dark-tag{
    color: white;
}