body {
    margin: 0px;
    box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1px;
}

.inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5%;
    padding-left: 5%;
    padding-right: 5%;
}

.search-container {
    display: flex;
}

.input-field {
    font-family: Poppins;
    height: 44px;
    width: 35%;
    border-radius: 20px;
    font-size: 22px;
    font-weight: 400;
    padding-left: 10px;
    cursor: pointer;
}

.search-icon {
    padding-left: 25px;
    background: url('../src/assets/magnifying-glass-solid.svg') no-repeat left;
    background-size: 18px;
}

.select-field {
    border-radius: 10px;
    font-family: Poppins;
    font-size: 18px;
    height: 28px;
    width: 12%;
    cursor: pointer;
    text-align: center;
}

.dark-input-field {
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.dark-select-field {
    background-color: hsl(209, 23%, 22%);
    color: white;
}