.country-container{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    box-shadow: 1px 1px 1px 1px rgb(4, 4, 4);
    border-radius: 10px;
    cursor: pointer;
}

.flag{
    width: 100%;
    height: 50%;
    margin-bottom: 2%;
}

.country-name{
    font-size: 24px;
    font-family:  Poppins;
    font-weight: 700;
    height: 10px;
    padding-left: 8%;
    color: rgb(3, 3, 3);
    margin-bottom: 13%;
}
.population{
    font-size: 17px;
    font-family: Poppins;
    font-weight: 400;
    height: 6px;
    padding-left: 8%;
    color: rgb(57, 54, 54);
}

.data {
    font-weight: 100;
    font-size: 15px;
    color: black;
}

.data-dark {
    color: white;
}

@media screen and (max-width: 824px) {
    .country-name{
        font-size: 12px;
        
    }
    .population{
        font-size: 12px;
        
    }
    .data {
        font-size: 9px;
    }
    
}

.dark-country-container{
    background-color: hsl(209, 23%, 22%);
    color: white;
}

.class{
    margin-top: -10px;
}